<% provide(:title, "Log in") %>
<h1>ログイン画面</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password,"パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "新規ユーザーはこちら", signup_path %></p>
  </div>
</div>