<% provide(:title, 'Exhibit') %>
<h1>商品登録画面</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book) do |f| %>
      <%= render 'shared/error_messages_book' %>

      <%= f.label :title,"タイトル" %>
      <%= f.text_field :title, class: 'form-control' %>


      <%= f.label :author,"著者" %>
      <%= f.text_field :author, class: 'form-control' %>

      <%= f.label :overview,"概要" %>
      <%= f.text_area :overview, class: 'form-control' %>

      <%= f.label :price, "価格" %>
      <%= f.number_field :price, class: 'form-control' %>

      <%= f.label :stock, "在庫" %>
      <%= f.number_field :stock, class: 'form-control' %>

      <span class="picture">
        <%= f.file_field :picture %>
      </span>

      <%= f.submit "商品登録", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>