<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @book.picture.url, :size => '180x240' if @book.picture? %>
      </h1>
      <p>
        タイトル：<%= @book.title %><br>
        著者：<%= @book.author %><br>
        概要：<br><%= @book.overview %><br>
        価格：<%= @book.price %>円<br>
        在庫：<%= @book.stock %>個
      </p>
      <p>

      <% if logged_in? %>

        <%= form_for(@cartitem) do |f| %>

          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :book_id, :value => @book.id %>
          <%= f.hidden_field :planned_price, :value => @book.price %>

          <%= f.label :quantity,"数量" %>
          <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>

          <%= f.submit "カートに入れる", class: "btn btn-primary" %>

        <% end %>

      <% end %>

      </p>
    </section>
  </aside>
</div>